.profile-header {
    height: 60px;
    display: flex;
    align-items: center;

    padding: 0 16px;

    background: #ffffff;
    border-bottom: 1px solid #ececec;
}

.profile-header h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.profile-content {
    background: #f7f7f7;
    min-height: calc(100% - 60px);
    padding: 20px 16px;
}

.user-info {
    display: flex;
    gap: 16px;
    align-items: center;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    object-fit: cover;
}

.camera-icon {
    position: absolute;
    right: -2px;
    bottom: 2px;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    background: #6c25ff;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

.user-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 4px;
}

.user-info p {
    color: #555;
    font-size: 14px;
}

.description {
    margin-top: 24px;

    color: #555;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
}

.divider {
    margin-top: 24px;
    border-top: 2px dashed #d9d9d9;
}

.empty-space {
    height: 350px;
}